<h1>
    Rendered from codeial home
</h1>
<section id="feed-post">
    <% if(locals.user){ %>
        <h4>What's on your mind</h4>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here...."></textarea>
            <button type="submit">Post</button>
        </form>
    <%}%>
    <div id="post-list-cointainer">
        <ul>
            <% for(post of post) {%>
                <p>
                    <li>
                        <% if (locals.user && locals.user.id == post.user.id){%>
                            <small>
                                <a href="/post/destroy/<%= post.id%>">
                                    delete
                                </a>
                            </small>    
                        <%}%>
                        <small><%= post.user.name %></small><br>
                        <%= post.content%>
                    </li>
                </p>
                <div class="post-comment">
                    <%if(locals.user){%>
                        <form action="/comment/create" method="POST">
                            <input type="text" name="content" placeholder="Type here to add comment...">
                            <input type="hidden" name="post" value="<%= post._id%>">
                            <button type="submit">Add Comment</button>
                        </form>    
                    <%}%>
                    <div class="post-comment-list">
                        <ul id="post-comment-<%= post.id%>">
                            <%for(comment of post.comment){%>
                                <p>
                                    <small>
                                        <%= comment.user.name%>
                                    </small>
                                    <%= comment.content%>
                                </p>
                            <% } %>
                        </ul>
                    </div>

                </div>
            <%}%>
        </ul>
    </div>
</section>