<html>
    <head>
        <title>
            <%= title%>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style-%>
    </head>
    <body>
        <div id="header">
            <%- include('_header');%>
        </div>
        <% if(flash.success && flash.success.length > 0){ %>
            <h5>
                <%= flash.success %>
            </h5>    
        <% } %>
        <div id="body">
            <%- body%>
        </div>
        <div id="footer">
            <%- include('_footer');%>
        </div>
    </body>
</html>